<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USER-IP</key>
	<string>127.0.0.1</string>
	<key>USER</key>
	<string>oauth_bo4WXMIT5V0zKSRLYcqNwGtHZEDaA1k3pBv7r20s|e83cf6ddcf778e37bfe3d48fc78a6502062fc</string>
	<key>GATEWAY</key>
	<string>client_id_rAglb9TMLoHRCYZtQe0DdKu25FVaP8W1736XvInB|client_secret_GCDiJFYxcXsW4HOMUtTgqVmZ7dv8ahQp3zbR6NAI</string>
</dict>
</plist>
